:root {
    --primary-color: rgb(238, 77, 45);
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --start-rating: #ffce3e;
    --header-height: 120px;
    --navbar-height: 33px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

/* build base  */
* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;  /*font size = 10 px  */
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Responsive  */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto ;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

.grid__column-2-4 {
    display: inline-flex;
    padding-left: 5px;
    padding-right: 5px;
    width: calc(20% - 2px);
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes header-notify-Grow {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal CSS */
.modal {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0 ,0 ,0 , 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    position: relative;
    margin: auto;
    z-index: 1;
    animation: growth linear 0.1s;
}

/* button style */
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 124px;
    height: 34px;
    border-radius: 2px;
    align-items: center;
    outline: none;
    border: none;
    font-size: 1.5rem;
    line-height: 1.6rem;
    padding: 0;
    cursor: pointer;
    color: var(--text-color);
    box-shadow: 0 1px 1px rgb(200, 200, 200); 
    /* background-color: white; */
}

.btn.btn--normal:hover {
    background-color: rgba(0 ,0 ,0 , 0.2);
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disable {
    cursor: default;
    background-color: #777;
    color: #fff;
}

.btn.btn--size-s {
    font-size: 12px;
    height: 32px;
    padding: 0 8px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

/* Selection  */

.select-input {
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0 1px 1px rgb(200, 200, 200); 

}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    margin: 0;
    cursor: pointer;
}

.select-input__list {
    z-index: 2;
    position: absolute;
    list-style: none;
    left: 0;
    right: 0;
    top: 27px;
    border-radius: 2px;
    padding: 8px 16px;
    background-color: var(--white-color);
    box-shadow: 0 1px 1px rgb(200 200 200);
    display: none;
}

.select-input__list::before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    right: 0;
    width: 100%;
    height: 20px;
}

.select-input__link {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 6px 0;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__link:hover {
    color: var(--primary-color);
}

/* icon */
.global__icon-down {
    font-size: 1.5rem;
    color: #4A4A4A;
    margin: 0px 12px 0 8px;
    position: relative;
    top: 1px;
}

/* pagination  */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item {
    margin: 0 16px;
}

.pagination-item--link {
    --height: 30px;
    display: block;
    text-decoration: none;
    line-height: var(--height);
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    color: #a1a1a1;
    min-width: 40px;
    height: var(--height);
    border-radius: 2px;
}

.pagination-item--active .pagination-item--link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item--active .pagination-item--link:hover {
    background: #ed5c3f;
}

i.pagination-item__icon {
    color: #939393;
}

