/* app container */

.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 36px;
}

/* grid__column-2  */
.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category-heading {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 400;
    padding: 12px 16px 0;
    margin-top: 0;
}


.category-list {
    padding: 0 0 8px 0;
    list-style: none;
}

.category-item {
    position: relative;
    padding-top: 4px;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    content: "";
    top: 0;
    left: 20px;
    right: 20px;
    position: absolute;
    border-top: 1px solid #e1e1e1;
}

 /* when uesr active  */
.category-item--active .category-item-link {
    color: var(--primary-color);
}

.category-item--active .category-item-link::before {
    content: "";
    top: 50%;
    left: 8px;
    position: absolute;
    border: 4px solid;
    transform: translateY(-50%);
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item-link {
    display: block;
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 6px 20px;
    right: 0;
    transition: right linear 0.1s;
}

.category-item-link:hover {
    right: -4px;
    color: var(--primary-color);
}

/* grid__column-10 */
/* home sort + filter */

.home-filter {
    background-color: rgba(0, 0, 0, 0.04);
    padding: 12px 22px;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.home-filter__label {
    color: #555555;
    margin-right: 16px;
    font-size: 1.4rem;
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
    background-color: var(--white-color);
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    box-shadow: 0 1px 1px rgb(200, 200, 200); 
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    flex: 1;
    background-color: var(--white-color);
    display: flex;
    text-decoration: none;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}
.home-filter__page-btn-disable {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn-disable .home-filter__page-icon{
    color: #ccc;
}

/* Product Item  */
/* Main Item  */
.home-product {
    
}

.home-product-item {
    display: block;
    position: relative;
    text-decoration: none;
    margin-top: 10px;
    background-color: var(--white-color);
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-1px);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

/* Price Item  */

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    align-items: center;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    margin-left: 10px;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    margin-left: 10px;
    color: var(--primary-color);
}

/* Action Item  */
.home-product-item__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home-product-item__action-like {
    font-size: 1.3rem;
}

/* When you push that button  */
.home-product-item__action-like--liked {

}

.home-product-item__action-like--no-liked-icon {

}

i.home-product-item__action-like--liked-icon {
    color: #F63D30;
    display: none;
}

.home-product-item__action-like--liked .home-product-item__action-like--liked-icon {
    display: inline-block;
}

.home-product-item__action-like--liked .home-product-item__action-like--no-liked-icon {
    display: none;
}

/* rating action  */
.home-product-item__action-rating {
    font-size: 1rem;
    transform: scale(0.9);
    transform-origin: right;
    color: #D5D5D5;
    margin: -1px 0 0 auto;
}

.home-product-item__start-gold {
    color: var(--start-rating);
}

/* sold action */
.home-product-item__action-sold {
    font-size: 1.2rem;
    margin-left: 4px;
    color: var(--text-color);
}

.home-product-item__action-sold-content {

}

.home-product-item__action-number-sold {

}

/* Origin Item  */
.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px 10px 6px;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 400;
}

.home-product-item__origin-brand {

}

.home-product-item__origin-name {

}

/* Favourite Banner */
.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 2px 8px;
    line-height: 1.6rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite:before {
    content: "";
    position: absolute;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(80%);
    left: 0;
    bottom: -3px;
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin-right: 4px;
}

/* Sale Off Banner  */
.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.93);
    padding: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    color: rgba(255, 216, 64, 0.93);
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-off--percent {
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
}

.home-product-item__sale-off--label {
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: var(--white-color);
    position: relative;
    font-weight: 600;
}

.home-product__pagination {
    margin-top: 48px;
    margin-bottom: 32px;
}
