/* footer */
.footer {
    border-top: 4px solid var(--primary-color);
    padding: 16px 0 0 0;
    background-color: var(--white-color);
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer_list {
    padding-left: 0;
    list-style: none;
}

.footer-item {

}

.footer-item__link {
    display: block;
    display: flex;
    text-decoration: none;
    font-size: 1.4rem;
    color: #737373;
    padding: 4px 0;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__link-icon{ 
    font-size: 2rem;
    margin-right: 3px;
}

.footer__sub {
    margin-top: 10px;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__download-apps-link {
    color: transparent;
    text-decoration: none;
}

.footer__download-apps-img {
    height: 20px;
}

.footer__bottom {
    padding: 8px 0;
    /* background-color: #f5f5f5; */
    margin-top: 28px
}

.footer__text {
    margin: 2px 0;
    text-align: center;
    font-size: 1.6rem;
    color: #737373;
}

.footer__text-link {
    text-decoration: none;
    color: var(--primary-color);
}